<nav class="nav">
  <div class="nav__container">
    <a class="nav__logo">
      <img src="logo.svg" alt="" />
    </a>
    <div class="nav__btns">
      <button class="theme-btn" (click)="toggleTheme()">
        <img
          *ngIf="isDark(); else lightIcon"
          src="icon-sun.svg"
          alt="Switch to light mode"
        />
        <ng-template #lightIcon>
          <img src="icon-moon.svg" alt="Switch to dark mode" />
        </ng-template>
      </button>
      <div>
        <img class="nav__profile-icon" src="image-avatar.jpg" alt="profile" />
      </div>
    </div>
  </div>
</nav>
