<div class="form-group" [class.invalid]="control?.invalid && control?.touched">
  <label>{{ label }}</label>
  <input
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    [class.invalid]="control?.invalid && control?.touched"
  />

  <div class="error" *ngIf="control?.invalid && control?.touched">
    <div *ngIf="control?.errors?.['required']">{{ label }} is required.</div>
    <div *ngIf="control?.errors?.['email']">Enter a valid email address.</div>
    <div *ngIf="control?.errors?.['min']">
      Minimum value is {{ control?.errors?.['min'].min }}.
    </div>
  </div>
</div>
