@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.btn {
  height: 48px;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: $font-size-body-1;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @include smooth-color-transition;

  &__default {
    background-color: var(--color-button);
    color: var(--color-button-text);
  }

  &:hover {
    background-color: $secondary;
  }
}

.status-badge {
  font-size: $font-size-body-1;
  font-weight: bold;
  padding: 13px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 104px;

  &--paid {
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }

  &--pending {
    background-color: var(--color-warning-bg);
    color: var(--color-warning);
  }

  &--draft {
    background-color: var(--color-draft-bg);
    color: var(--color-draft);
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}
