@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.btn {
  height: 48px;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: $font-size-body-1;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @include smooth-color-transition;

  &__default {
    background-color: var(--color-button);
    color: var(--color-button-text);
  }

  &:hover {
    background-color: $secondary;
  }
}

.status-badge {
  font-size: $font-size-body-1;
  font-weight: bold;
  padding: 13px 0px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 104px;

  &--paid {
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }

  &--pending {
    background-color: var(--color-warning-bg);
    color: var(--color-warning);
  }

  &--draft {
    background-color: var(--color-draft-bg);
    color: var(--color-draft);
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;

  & label {
    color: var(--color-secondary-text);
    font-weight: 500;
  }

  & input {
    width: 100%;
    min-width: 0;
    font-weight: bold;
    padding: 1rem 1.25rem;
    border-radius: 4px;
    background-color: var(--color-input-bg);
    color: var(--color-text);
    outline: none;
    border: 1px solid var(--color-border);
  }

  .error {
    color: var(--color-error);
  }

  input[type="date"] {
    background-color: #252945;
    color: #dfe3fa;
    border: 1px solid #7c5dfa;
    border-radius: 8px;
    padding: 0.75rem 1rem;

    &:focus {
      outline: none;
      border-color: #7c5dfa;
      box-shadow: 0 0 0 2px rgba(124, 93, 250, 0.3);
    }
  }
}
