@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

.btn {
  height: 48px;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: $font-size-body-1;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @include smooth-color-transition;

  &__default {
    background-color: var(--color-button);
    color: var(--color-button-text);
  }

  &:hover {
    background-color: $secondary;
  }
}
