// design tokens
$color-purple: #7C5DFA;
$color-purple-light: #9277FF;
$color-gray-dark: #252945;
$color-gray-darker: #1E2139;
$color-gray-darkest: #141625;
$color-blue-dark: #373B53;

$color-black: #0C0E16;
$color-white: #FFFFFF;

$color-lavender-ice: #DFE3FA;
$color-slate-blue: #888EB0;
$color-lavender-blue: #7E88C3;

$color-red: #EC5757;
$color-red-light: #FF9797;
$color-ghost-white: #F8F8FB;

// semantic tokens
$primary: $color-purple;
$secondary: $color-purple-light;
$text-main: $color-black;
$text-muted: $color-slate-blue;
$surface: $color-white;
$border: $color-lavender-ice;


// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;