<section class="invoices">
  <div class="invoices__header">
    <div>
      <h1>Invoices</h1>
      <p>{{ totalInvoices }} invoices</p>
    </div>

    <div class="header-btns">
      <button class="btn btn-filter">
        Filter
        <img src="assets/images/icon-arrow-down.svg" />
      </button>
      <button class="btn-new btn btn__default">
        <img src="assets/images/icon-plus.svg" /><span
          >New <span class="toggle-text">Invoice</span></span
        >
      </button>
    </div>
  </div>

  <section class="cards">
    <!-- i will extract this later into a card component -->
    <div class="invoice-card" *ngFor="let invoice of invoices">
      <div class="invoice-card__header">
        <h3><span>#</span>&nbsp;{{ invoice.id }}</h3>
        <p>{{ invoice.clientName }}</p>
      </div>
      <div class="invoice-card__content">
        <div class="invoice-card__info">
          <p class="date">{{ invoice.paymentDue | formatDate }}</p>
          <p class="amount">{{ invoice.total | currency : "GBP" }}</p>
        </div>
        <span class="status-badge" [ngClass]="'status-badge--' + invoice.status"
          ><div class="dot"></div>
          {{ invoice.status | capitalize }}</span
        >
      </div>
      <div class="invoice-card__row">
        <h3><span class="id">#</span>&nbsp;{{ invoice.id }}</h3>
        <p class="date">Due {{ invoice.createdAt | formatDate }}</p>
        <p class="name">{{ invoice.clientName }}</p>
        <p class="amount">{{ invoice.total | currency : "GBP" }}</p>
        <span class="status-badge" [ngClass]="'status-badge--' + invoice.status"
          ><div class="dot"></div>
          {{ invoice.status | capitalize }}</span
        >
        <button class="more">
          <img
            src="assets/images/icon-arrow-right.svg"
            alt="right caret"
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </section>
</section>
