<section class="invoices">
  <div class="invoices__header">
    <div>
      <h1>Invoices</h1>
      <p>{{ filteredInvoices.length }} invoices</p>
    </div>

    <div class="header-btns">
      <app-drop-down
        buttonLabel="{{ isMobile ? 'Filter' : 'Filter status by' }}"
        [options]="['draft', 'pending', 'paid']"
        [selectedOptions]="selectedStatuses"
        (selectedOptionsChange)="onStatusChange($event)"
      ></app-drop-down>
      <button class="btn-new btn btn__default">
        <img src="assets/images/icon-plus.svg" />
        {{ isMobile ? "New" : "New Invoice" }}
      </button>
    </div>
  </div>

  <section class="cards" *ngIf="filteredInvoices.length > 0; else noInvoices">
    <app-invoice-card
      [invoice]="invoice"
      *ngFor="let invoice of filteredInvoices"
    ></app-invoice-card>
  </section>

  <ng-template #noInvoices>
    <div class="empty-state">
      <div class="container">
        <img src="assets/images/illustration-empty.svg" alt="woman screaming" />
        <div>
          <h3>There is nothing here</h3>
          <p class="body-1">
            Create an invoice by clicking the
            <strong>New {{ isMobile ? "" : "Invoice" }}</strong> button and get
            started
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</section>
