<section class="invoices">
  <div class="invoices__header">
    <div>
      <h1>Invoices</h1>
      <p>7 invoices</p>
    </div>

    <div class="header-btns">
      <button class="btn btn-filter">
        Filter
        <img src="icon-arrow-down.svg" />
      </button>
      <button class="btn-new btn btn__default">
        <img src="icon-plus.svg" /><span
          >New <span class="toggle-text">Invoice</span></span
        >
      </button>
    </div>
  </div>

  <section class="cards">
    <div class="invoice-card">
      <div class="invoice-card__header">
        <h3><span>#</span>&nbsp;RT3080</h3>
        <p>Jensen Huang</p>
      </div>
      <div class="invoice-card__content">
        <div class="invoice-card__info">
          <p class="date">Due 19 Aug 2021</p>
          <p class="amount">£ 1,800.90</p>
        </div>
        <span class="invoice-card__status"
          ><div></div>
          Paid</span
        >
      </div>
      <div class="invoice-card__row">
        <h3><span class="id">#</span>&nbsp;RT3080</h3>
        <p class="date">Due 19 Aug 2021</p>
        <p class="name">Jensen Huang</p>
        <p class="amount">£ 1,800.90</p>
        <span class="status"
          ><div></div>
          Paid</span
        >
        <button class="more">
          <img
            src="icon-arrow-right.svg"
            alt="right caret"
            aria-hidden="true"
          />
        </button>
      </div>
    </div>
  </section>
</section>
