<section class="invoice-details">
  <a href="/" class="back-btn">
    <img
      src="assets/images/icon-arrow-left.svg"
      alt="left arrow"
      aria-hidden="true"
    />
    Go back
  </a>
  <!-- mobie display only -->
  <div *ngIf="isMobile$ | async" class="mobile-action-btns">
    <button class="btn btn__edit">Edit</button>
    <button class="btn btn__delete" (click)="showConfirmModal = true">Delete</button>
    <button class="btn btn__paid">Mark as Paid</button>
  </div>
  <header>
    <div *ngIf="isMobile$ | async" class="mobile-status">
      <p>Status</p>
      <app-status-badge [invoiceStatus]="invoice?.status"></app-status-badge>
    </div>
    <div *ngIf="!(isMobile$ | async)" class="container">
      <div class="status">
        <p>Status</p>
        <app-status-badge [invoiceStatus]="invoice?.status"></app-status-badge>
      </div>
      <div class="action-btns">
        <button class="btn btn__edit">Edit</button>
        <button class="btn btn__delete" (click)="showConfirmModal = true">
          Delete
        </button>
        <button class="btn btn__paid">Mark as Paid</button>
      </div>
    </div>
  </header>

  <div class="invoice-details__content">
    <div class="invoice-sender">
      <div class="identify">
        <p class="id">
          # <strong>{{ invoice?.id }}</strong>
        </p>
        <p class="description">
          {{ invoice?.description }}
        </p>
      </div>

      <!-- sender address -->
      <ul class="address">
        <li>{{ invoice?.senderAddress?.street }}</li>
        <li>{{ invoice?.senderAddress?.city }}</li>
        <li>{{ invoice?.senderAddress?.postCode }}</li>
        <li>{{ invoice?.senderAddress?.country }}</li>
      </ul>
    </div>

    <div class="invoice-client">
      <div class="dates">
        <div class="invoice-date">
          <p>Invoice date</p>
          <strong>{{ invoice?.createdAt | formatDate }}</strong>
        </div>
        <div class="invoice-payment">
          <p>Payment Due</p>
          <strong>{{ invoice?.paymentDue | formatDate }}</strong>
        </div>
      </div>

      <div>
        <div class="bill-to">
          <p>Bill To</p>
          <strong>{{ invoice?.clientName }}</strong>
          <ul class="">
            <li>{{ invoice?.clientAddress?.street }}</li>
            <li>{{ invoice?.clientAddress?.city }}</li>
            <li>{{ invoice?.clientAddress?.postCode }}</li>
            <li>{{ invoice?.clientAddress?.country }}</li>
          </ul>
        </div>
      </div>

      <div class="send-to">
        <p>Send to</p>
        <strong>{{ invoice?.clientEmail }}</strong>
      </div>
    </div>

    <div *ngIf="isMobile$ | async" class="invoice-calculation-mobile">
      <div class="item-list">
        <div *ngFor="let item of invoice?.items" class="items">
          <div class="item-info">
            <strong>{{ item.name }}</strong>
            <p>{{ item.quantity }} x {{ item.price | currency : "GBP" }}</p>
          </div>
          <strong class="item-price">{{
            item.total | currency : "GBP"
          }}</strong>
        </div>
      </div>
      <div class="item-total">
        <p>
          {{ invoice?.status === "pending" ? "Amount Due" : "Grand Total" }}
        </p>
        <strong> {{ invoice?.total | currency : "GBP" }}</strong>
      </div>
    </div>

    <div *ngIf="!(isMobile$ | async)" class="invoice-calculation">
      <div class="item-list-head">
        <p>Item Name</p>
        <p>QTY.</p>
        <p>Price</p>
        <p>Total</p>
      </div>
      <div class="item-list">
        <div *ngFor="let item of invoice?.items" class="items">
          <strong>{{ item.name }}</strong>
          <p>{{ item.quantity }}</p>
          <p>{{ item.price | currency : "GBP" }}</p>
          <p>{{ item.total | currency : "GBP" }}</p>
        </div>
      </div>
      <div class="item-total">
        <p>
          {{ invoice?.status === "pending" ? "Amount Due" : "Grand Total" }}
        </p>
        <strong> {{ invoice?.total | currency : "GBP" }}</strong>
      </div>
    </div>
  </div>
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [title]="'Confirm Deletion'"
    [message]="
      'Are you sure you want to delete invoice #' +
      invoice?.id +
      '? This
  action cannot be undone.'
    "
    (confirm)="onDelete()"
    (cancel)="showConfirmModal = false"
  />
</section>
