@use "./styles/variables" as *;
@use "./styles/typography" as *;
@use "./styles/components" as *;
@use "./styles/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f8f8fb;
  --color-surface: #ffffff;
  --color-text: #0c0e16;
  --color-muted: #888eb0;
  --color-border: #dfe3fa;
  --color-accent: #7c5dfa;
  --color-button: #7c5dfa;
  --color-button-text: #fff;
  --color-success: #33d69f;
  --color-error: #ec5757;
  --color-warning: #ff8f00;
}

.dark-theme {
  --color-bg: #141625;
  --color-surface: #1e2139;
  --color-text: #ffffff;
  --color-muted: #888eb0;
  --color-border: #252945;
  --color-accent: #7c5dfa;
  --color-button: #9277ff;
  --color-button-text: #fff;
  --color-success: #33d69f;
  --color-error: #ec5757;
  --color-warning: #ff8f00;
}

body {
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $font-family-base;
  @include smooth-color-transition;
}
